.appointments-container {
    padding: 0rem 1rem;
    height: auto;
}

.appointment-review,
.appointment-form {
    height: 100%;
    overflow-y: auto;
    padding: 1.5rem;
}

.appointment-review {
    max-height: 80vh;
}

.appointment-form {
    max-height: 80vh;
}

.mobile-controls {
    display: flex;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    padding: 1rem 1rem;
    margin: 0.5rem -1rem;
    border-radius: 30px;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 900;
    background: #d9adaf;
    color: white;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
}

.review-mobile-container {
    position: fixed;
    bottom: 60px;
    left: 0;
    right: 0;
    max-height: 85%;
    background: white;
    z-index: 1000;
    overflow-y: auto;
    padding: 1rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2);
    animation: slideUp 0.3s ease-out;
}

@keyframes slideUp {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0);
    }
}

/* Fix scroll bar */

/* WebKit (Chrome, Edge, Safari) */
.appointment-review::-webkit-scrollbar,
.appointment-form::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.appointment-review::-webkit-scrollbar-thumb,
.appointment-form::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 4px;
}

.appointment-review::-webkit-scrollbar-thumb:hover,
.appointment-form::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
}

.appointment-review::-webkit-scrollbar-track,
.appointment-form::-webkit-scrollbar-track {
    background-color: #f0f0f0;
    border-radius: 4px;
}

/* Firefox */
.appointment-review,
.appointment-form {
    scrollbar-width: thin;
    scrollbar-color: #ccc #f0f0f0;
}