.selected-services {
    gap: 1rem;
    list-style: none;
    padding: 0;
    margin: 0;
}

.service-item {
    padding: 0.4rem;
}

.service-item h4 {
    word-break: break-word;
    margin: 0;
}

.service-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.service-price {
    margin-left: auto;
    white-space: nowrap;
}

.service-duration {
    color: #666;
    display: flex;
    margin-top: -15px;
}