.card-tm {
  padding: 24px;
  width: 26%;
  min-width: 440px;
}

.card-tm p { margin: 0; }
.card-tm .card-body { margin: 0 }

@media (max-width: 500px) {
  .card-tm {
    width: 100%;
    min-width: auto;
  }
}
